<section class="section1" id="quem-sou-eu">
  <h1 class="titulo">Quem sou eu?</h1>
  <div class="subtitulo"><h1 class="letras">Olá, meu nome é <span>Pedro Henrique B. Ribeiro</span>. Estou atualmente localizado em Petrópolis-RJ, e irei compartilhar mais sobre minha experiência como desenvolvedor Full Stack.
    Em poucas palavras, sou um desenvolvedor com habilidades avançadas em Python, JavaScript, HTML, CSS e C++.</h1>
    </div>
    <div class="subtitulo"><h1 class="letras">Ao navegar por este portfólio, você encontrará uma jornada através dos meus projetos e meu desenvolvimento contínuo no aprendizado de linguagens de programação.</h1>
      </div>
</section>