<section class="section4" id="contato">
  <h1 class="contato">Contato:</h1>
  <section class="conteiner-icones">
    <a href="https://github.com/phzyphzz" target="_blank"><img class="icone" src="./assets/img/github.svg" alt="GitHub"></a>
    <a href="https://www.instagram.com/03droh3nrique" target="_blank"><img class="icone" src="./assets/img/instagram.svg" alt="Instagram"></a>
    <a href="https://www.linkedin.com/in/" target="_blank"><img class="icone" src="./assets/img/linkedin.svg" alt="LinkedIn"></a>
    <a href="https://api.whatsapp.com/send?phone=5524992291058" target="_blank"><img class="icone" src="./assets/img/whatsapp.svg" alt="WhatsApp"></a>
  </section>
  <section class="rodape-conteiner">
    <p>Conteúdo desenvolvido com HTML/CSS.</p>
  </section>
</section>